.author {
    font-style: oblique;
    font-weight: bold;
    text-align: right;
    color: rgb(15, 15, 15);
  }
  
  .btn {
    margin: 5;
  }
  
  .card {
    margin: 20px;
  }
  
  .card-body {
    text-align: center;
    color: white;
  }
  
  .action {
    text-align: center;
    color: #777777;
    font-size: 20px;
  }
  
  form {
    padding: 20px;
    background-color: grey;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    left: 5%;
  }
  
  label {
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
  }
  
  .cancel-form {
    text-align: right;
  }
  
  .form-btn {
    width: fit-content;
    justify-items: center;
  }
  
  .card:nth-child(6n-5) {
    background-color: #c82dd6;
  }
  
  .card:nth-child(6n-4) {
    background-color: #00c3ff;
  }
  
  .card:nth-child(6n-3) {
    background-color: #b3ff00;
  }
  
  .card:nth-child(6n-2) {
    background-color: #f1486a;
  }
  
  .card:nth-child(6n-1) {
    background-color: #dd38f3;
  }
  
  .card:nth-child(6n+0) {
    background-color: #5ebd3e;
  }
  
  .card-footer {
    background-color: #eeeeee;
  }
  
  .fa-quote-left {
    float: left;
    font-size: 30px;
  }
  
  .del {
    color: red;
    float: right;
  }

  